@import url('./base.css');
@import url('./utilityClasses.css');

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.dashboard {
    padding: 20px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.orders-table th, .orders-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.orders-table th {
    background-color: #f4f4f4;
    text-align: left;
}

.orders-table td {
    vertical-align: top;
}
